@page "/films"
@inherits Discover<Movie>
@attribute [RenderModeInteractiveServer]

<h3>Films</h3>
<SearchInput OnSearch="OnSearch" @bind-value="Search" />
<Strip Items="TopRated" Load="loadTopRated" />

<DiscoverCard Items="Items" PagingState="pagingState" PageUri="films" Load="loadItems" />

@code {
    public Films() : base(Cinematography.Movie)
    {

    }
}
