@page "/favoris"
@using BSFlixFlex.Pages.Pagination;
@using BSFlixFlex.Services;
@using System.Security.Claims;
@attribute [Authorize]
@inject MyFavoriteService MyService
@inject AuthenticationStateProvider AuthStateProvider

<h3>Favoris</h3>

@if (myFavDisplay != null)
{
    <DiscoverCard Items="myFavDisplay" PageUri="" PagingState="pagingState" />

}
@code {
    private List<IDiscovryCommonProperty>? myFavDisplay;
    private List<IDiscovryCommonProperty>? myFavorites;
    private IQueryable<IDiscovryCommonProperty> queryMyFav= default!;
    private GridPagingState pagingState = new(10);

    public ClaimsPrincipal ClaimsPrincipal { get; set; } = default!;
    public bool IsAuthenticated => GetIsAuthenticated();

    private bool GetIsAuthenticated()
    {
        if (ClaimsPrincipal.Identity is { IsAuthenticated: true })
            return true;
        return false;
    }

    protected override async Task OnInitializedAsync()
    {
        var authenticationState = await AuthStateProvider.GetAuthenticationStateAsync();
        ClaimsPrincipal = authenticationState.User;
        pagingState.PageChanged += PagingState_PageChanged;
        myFavorites = (await MyService.FetchUserFavoritesAsync(ClaimsPrincipal));
        if (myFavorites != null)
            queryMyFav = myFavorites.AsQueryable();

        pagingState.CurrentPage = 1;
        await base.OnInitializedAsync();
    }
    private void PagingState_PageChanged(object? sender, GridPageChangedEventArgs e)
    {
        e.TotalItems = queryMyFav.Count();
        var queryable = queryMyFav;
        if (e.Skip > 0)
            queryable = queryable.Skip(e.Skip);
        queryable = queryable.Take(e.ItemsPerPage);
        myFavDisplay = queryable.ToList();
        StateHasChanged();
    }

}
