@page "/series"
@inherits Discover<TvShow>

<h3>Series</h3>
<div class="grid row">

    <SearchInput OnSearch="OnSearch" @bind-Value="@Search" />
    <Strip Items="TopRated" Load="loadTopRated"/>
    <DiscoverCard Items="Items" PagingState="pagingState" PageUri="series" Load="loadItems" />

</div>
@code {
    public Series():base(Cinematography.Tv)
    {
        
    }
}
