<div class="g-col-12">
    <div class="grid row row-cols g-2">
        @for (int i = 0; i < 5; i++)
        {
            <div class="col">
                <div class="card h-100 mb-1 g-col-md-1" style="width: 15rem;" aria-hidden="true">

                    <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img"
                         aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false" _mstaria-label="177515" _mstHash="188">
                        <title _mstHash="189">Placeholder</title>
                        <rect width="100%" height="100%" fill="#868e96"></rect>
                    </svg>
                    <div class="card-body">
                        <h5 class="card-title placeholder-glow">
                            <span class="placeholder col-6"></span>
                        </h5>
                        <p class="card-text placeholder-glow">
                            <span class="placeholder col-7"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-6"></span>
                            <span class="placeholder col-8"></span>
                        </p>
                        <a class="btn btn-primary disabled placeholder col-6" aria-disabled="true"></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {

}
