@typeparam T where T : class, IDiscovryCommonProperty
@if (Items != null && !Load)
{
    <div class="g-col-12 mb-3">
        <div class="container g-col-12">
            <div class="row d-flex justify-content-center">
                @foreach (var item in Items)
                {
                    var imgUrl = $"https://image.tmdb.org/t/p/w500/" + item.PosterPath;
                    var pageUri = string.Empty;
                    if (item is Movie)
                        pageUri = "films";
                    if (item is TvShow)
                        pageUri = "series";
                    var href = $"/{pageUri}/{item.Id}";

                    <div class="col-2">

                        <a href="@href">
                            <img src="@imgUrl" class="img-fluid" />
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
    @* <div class="g-col-12 mb-3"> </div> *@
}else
{
    <StripPlaceholder/>
}

@code {
    [Parameter, EditorRequired] public required ICollection<T> Items { get; set; }
    [Parameter] public bool Load { get; set; }
}
